<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>Resumen Foundation</h1>
    <div class="grid-x" style="border: 1px solid green;">
        <h2 class="cell small-12 large-5 medium-5" style="border: 1px solid red;">elemento1</h2>
        <h2 class="cell large-4 medium-4" >elemento2</h2>
        <h2 class="cell large-3 medium-3" style="border: 1px solid blue;">elemento3</h2>
        <div class=" cell large-4 grid-x">
            <h4 class="cell large-2">otro elemento1</h4>
            <h4 class="cell large-2">otro elemento2</h4>
            <h4>otro elemento3</h4>
        </div>
    </div>

</body>
</html>