{% extends 'base.html' %}
{% block title %}
 Eliminar empleado
{% endblock title %}
{% block body %}
{% include "includes/header.html" %}
<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Eliminar datos de empleado: {{ object.full_name }}</h1>
        <form class="cell" method="POST">{% csrf_token %}
            <div class="callout secondary">
                <h5>Eliminar?</h5>
                <button type="submit" class="alert button">Confirmar</button>
            </div>
        </form>
    </div>
</div>

{% endblock body %}
